<app-navbar></app-navbar>
<app-header></app-header>

<div class="container">
  <div class="row mt-5">
    <div class="col-lg-12">
      <div class="alert alert-primary" role="alert">
        Maske, mesafe ve en önemlisi hijyen.
      </div>
      <label> Maske takılmadığında korunma oranı:</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <br>
      <label> <b>Doğru</b> maske takıldığında korunma oranı:</label>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <br>

    </div>
  </div>
</div>


<app-footer></app-footer>
