<section class="mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12" style="background-color: #00449c; height: auto">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 d-flex justify-content-center">
              <ul style="list-style-type:none; color:white" class="mt-5">
                <li><b><h3>İçerikler</h3></b></li>
                <hr>
                <li><a style="color:white" href="">Anasayfa</a></li>
                <li><a style="color:white" href="covid19bilgilendirme">Covid-19 Bilgilendirme</a></li>
                <li><a style="color:white" href="saglikmalzemeleri">Sağlık Malzemeleri</a></li>
                <li><a style="color:white" href="nasilkorunuruz">Korunma Yolları</a></li>
                <li><a style="color:white" href="bizeulasin">Bize Ulaşın</a></li>
              </ul>
            </div>
            <div class="col-lg-4 d-flex justify-content-center">
              <ul style="list-style-type:none; color:white" class="mt-5">
                <li><b><h3>Github</h3></b></li>
                <hr>
                <li><a style="color:white" > <a href ="https://github.com/omerdursunoglu">Github'a gitmek için tıkla.</a></a></li>

              </ul>
            </div>

            <div class="col-lg-4 d-flex justify-content-center mt-5 mb-5">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12775.368428966292!2d31.361685224936267!3d36.82230330601605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c358d95646968d%3A0x95f997a0ca64ad8a!2sIl%C4%B1ca%2C%2007600%20Manavgat%2FAntalya!5e0!3m2!1str!2str!4v1610830980680!5m2!1str!2str" width="300" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
